/*DIGITAL CLOCK FONT*/
/* @font-face{
 font-family: 'Open Sans', sans-serif;
 src: url('../fonts/digital-7.ttf');
} */




.clock-display {
  margin: 0 auto;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  /* padding-bottom: 15px; */
  background-color: #000000;
  color: #ffffff;
  box-shadow: 2px 2px 5px 2px rgba(0,0,0,.3);
}
 
.light-on {
	color: #ffffff !important;
}

/* DATE */
.date-field {
	/* margin: 5px 0; */
  display: flex;
  justify-content: space-evenly;
  
}

.day-of-week {
  display: inline-block;
  position: relative;
  font-size: 1em;

}

.date-field div {
  
	display: inline-block;
	position: relative;
}

.date-field div p {
	font-size: 1em;
	position: relative;
	z-index: 100;
}


.day-alpha {
  margin: 16px 0;
}
.date-field div p.placeholder {
	color: #000000;
	position: absolute;
	/* top: 0; */
  z-index: 50;

}
.date-field div.day-of-week-mobile {
  display: none;
}
.date-field div.day-of-week p {
  font-size: 1em;
}
.date-field div p.type {
  font-size: 1em;
  font-weight: bold;
  /* font-family: sans-serif; */
  text-transform: uppercase;
}


@media (max-width: 768px) {
  
  .date-field {
    margin: 0 auto;
    justify-content: space-evenly;
  }
  .date-field div.day-of-week {
    display: none;
  }
  .date-field div.day-of-week-mobile {
    display: inline-block;
  }
  .date-field div.day-of-week-mobile p {
    font-size: 1.3em;
    margin-top: -2px;
  }
}

@media (max-width:550px) {
  .clock-display {
    display: block;
    margin: 0 auto;
    text-align: center;
    /* padding: 15px 30px; */
    max-width: 100%;
    background-color: #000000;
    color: #ffffff;
  }

  .date-field div.day-of-week-mobile p {
    font-size: 1.2em;
    margin-top: 0px;
  }
}
@media (max-width:468px) {
  .clock-display {
    display: block;
    margin: 0 auto;
    text-align: center;
    /* padding: 15px 30px; */
    max-width: 100%;
    background-color: #000000;
    color: #ffffff;
  }

  .date-field div.day-of-week-mobile p {
    font-size: 1.2em;
  }
}

@media (max-width:400px) {
  .clock-display {
    display: block;
    margin: 0 auto;
    text-align: center;
    /* padding: 15px 30px; */
    max-width: 100%;
    background-color: #000000;
    color: #ffffff;
  }

  .date-field div.day-of-week-mobile p {
    font-size: 1.1em;
  }
}

/* CLOCK */
.clock-field {
	/* margin: 5px 0; */
  display: flex;
  justify-content: center;
}
.clock-field div {
	display: inline-block;
  position: relative;
  
}
.clock-field div p {
	font-size: 1.5em;
	position: relative;
  z-index: 100;
  padding: 0 2px 0 2px;
  margin-top: 0px;
}
.clock-field .numbers .placeholder {
	color: #000000;
  position: absolute;
  
	top: 0;
	z-index: 50;
}
.clock-field .numbers .type {
  font-size: 1em;
  font-weight: bold;
  /* font-family: sans-serif; */
  text-transform: uppercase;
  margin-top: -10px;
}
/* .clock-field .am-pm {
	font-family: sans-serif;
	text-transform: uppercase;
	width: 20px;
} */
/* .clock-field .am-pm div p {
	font-size: 1em;
	font-weight: bold;
	width: 100%;
} */
/* .clock-field .am,
.clock-field .pm {
	color: #000000;
} */

@media (max-width:768px) {
  /* .clock-display {
    /* padding: 15px 30px; */
  } */
  .desktop-view {
    display: none;
  }
}

@media (max-width:550px) {
  .date-field div p {
    font-size: 30px;
  }
  .clock-field div p {
  	font-size: 80px;
  }
}

@media (max-width:468px) {
  .date-field div p {
    font-size: 24px;
  }
  .clock-field div p {
  	font-size: 60px;
  }
}

@media (max-width:400px) {
  .date-field div p {
    font-size: 20px;
  }
  .days .day p,
  .clock-field .am-pm div p {
    font-size: 10px;
  }
  .clock-field div p {
  	font-size: 50px;
  }
}

@media (max-width:350px) {
  .date-field div p {
    font-size: 1.1em;
  }
  .clock-field div p {
  	font-size: 1.5em;
  }
}

@media (max-width:320px) {
  .date-field div p {
    font-size: 1em;
  }
  .clock-field div p {
  	font-size: 1.5em;
  }
}
